<div class="conteiner">
  <div class="col-md-12">
    <h1 class="text-center">ブログの編集</h1>
    <%= image_tag 'flower.jpg', class: 'flower-img' %><br>
    <div class="menu">
    <%= render 'form', article: @article %>
    </div>
  </div>
</div>